body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #4885F5;
  font-family: "Almarai", sans-serif;
  font-weight: 300;
  font-style: norma
}

.fundo-img {
  background-color: white;
  text-align: center;
}

img {
  width: 200px;
}

.div-conteudo {
  align-items: center;
  text-align: center;
}

label,
legend {
  display: block;
  font-size: 20px;
}

select {
  padding: 5px 20px;
  border: none;
  outline: 0;
  border-radius: 5px;
  font-size: 15px;
}

select:hover {
  padding: 5px 20px;
  border: none;
}

.input-padrao {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
}

.enviar {
  padding: 20px 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
}

.enviar:hover {
  padding: 20px 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #a6a0a0;
  color: #fafafa;
}